.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.handTransition {
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1)
}

:root {
  --base: #ffc600;
  --blur: 10px
}

img {
  filter: blur(var(--blur));
  background: var(--base);
}

.hl {
  color: var(--base);
}